{% extends "base.html" %}
{% block content %}
<form action='/user-validate' method='post'>
    <label>Username:
        <input type='text' name='username' />
    </label>
    <br > 
    <label>Password:
        <input type='password' name='password' />
    </label>
    <br >
    <label>Verify Password:
        <input type='password' name='vpassword' />
    </label>
    <br >
    <label>Email:
        <input type='text' name='email' />
    </label>
    <br >
    <input type='Submit' />
                            
</form>
{% endblock %}