{% extends "base.html" %}
{% block content %}

<form action='/user-validate' method='post'>
    <label>Username:
        <input type='text' name='username' value='{{username}}'/>
        <p>{{username_error}}</p>
    </label>
    
    <br > 
    <label>Password:
        <input type='password' name='password'/>
        <p>{{password_error}}</p>
    </label>
    <br >
    <label>Verify Password:
        <input type='password' name='vpassword'/>
        <p>{{vpassword_error}}</p>
    </label>
    <br >
    <label>Email (optional):
        <input type='text' name='email' value='{{email}}'/>
        <p>{{email_error}}</p>
    </label>
    <br >
    <input type='Submit' />
                            
</form>
{% endblock %}